<form class="container form-group mt-1" [formGroup]="formulario">
  <div class="form-row">
    <h3 class="col">Cadastro de Produtos</h3>
  </div>

  <div class="form-row">
    <div class="form-group col">
      <label for="nome">Nome</label>

      <input
        formControlName="nome"
        id="nome"
        class="form-control"
        [ngClass]="{
          'is-invalid':
            submeter && formulario.controls['nome'].status == 'INVALID'
        }"
      />
      <div *ngIf="submeter && formulario.controls['nome'].status == 'INVALID'">
        O nome é obrigatório
      </div>
    </div>

    <div class="form-group col">
      <label for="unidadeMedida">Unidade de Medida</label>

      <input
        type="text"
        class="form-control"
        formControlName="unidadeMedida"
        [ngClass]="{
          'is-invalid':
            submeter && formulario.controls['unidadeMedida'].status == 'INVALID'
        }"
        id="unidadeMedida"
      />
      <div
        *ngIf="
          submeter && formulario.controls['unidadeMedida'].status == 'INVALID'
        "
      >
        Unidade de medida é obrigatória
      </div>
    </div>

    <div class="w-100"></div>

    <div class="form-group col">
      <label for="preco">Preço</label>

      <input
        class="form-control"
        [ngClass]="{
          'is-invalid':
            submeter && formulario.controls['preco'].status == 'INVALID'
        }"
        formControlName="preco"
        id="preco"
        ngMask="9.99"
      />
      <div *ngIf="submeter && formulario.controls['preco'].status == 'INVALID'">
        Preço é obrigatório
      </div>
    </div>
  </div>

  <div class="text-center">
    <button class="btn btn-primary mr-1" (click)="persistirDados()">
      <span *ngIf="!formulario.controls['id'].value">Cadastrar</span>
      <span *ngIf="formulario.controls['id'].value">Editar</span>
    </button>
    <button class="btn btn-secondary" type="reset" (click)="limpar()">
      Limpar
    </button>
  </div>
</form>

<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Nome</th>
        <th scope="col">Unidade de Medida</th>
        <th scope="col">Preço</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let p of items">
        <th scope="row">{{ p.id }}</th>
        <td>{{ p.nome }}</td>
        <td>{{ p.unidadeMedida }}</td>
        <td>{{ p.preco }}</td>
        <td>
          <button
            type="button"
            class="btn btn-secondary btn-sm mr-2"
            (click)="editarItem(p)"
          >
            <i class="pi pi-pencil"></i>
          </button>
          <button
            type="button"
            class="btn btn-danger btn-sm"
            (click)="excluirItem(p)"
          >
            <i class="pi pi-trash"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
